html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  background-color: #eee;
  word-break: break-word;
}
